[submodule "Game"]
	path = Game
	url = git@github.com:isysoi3/Game.git
[submodule "blockchain"]
	path = blockchain
	url = git@github.com:isysoi3/blockchain.git
[submodule "bsu-practice-2018"]
	path = bsu-practice-2018
	url = git@github.com:isysoi3/bsu-practice-2018.git
[submodule "PMVS"]
	path = PMVS
	url = git@github.com:isysoi3/PMVS.git
[submodule "TP"]
	path = TP
	url = git@github.com:isysoi3/TP.git
