@model TableModel
@{
    ViewData["Title"] = "CreatedTable";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="container">
        <table>
            <tr>
                <td>
                    <form method="post" action="~/Home/AddTableEntries">
                        <input type="submit" value="Add table entries" />
                    </form>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <form method="post" action="~/Home/Index">
                        <input type="submit" value="Create new table" />
                    </form>
                </td>
                <td></td>
            </tr>
        </table>
    </div>
</body>
</html>
