@model IEnumerable<LibraryServiceReference.Book>

@{
    ViewData["Title"] = "AllAvailableBooks";
}

<h2>All Available Books</h2>

<table>
    <tr>
        <form method="post" action="~/Home/AllBooks">
            <input type="submit" value="Show all books">
        </form>
    </tr>
    <tr>
        <table>
            <tr>
                <td><label for="bookName">Book name</label></td>
                <td><label for="authorName">Author name</label></td>
            </tr>
            @foreach (var book in Model)
            {
                <tr>
                    <td><label for="name_@Html.Raw(book.Name)_1">@book.Name</label></td>
                    <td><label for="name_@Html.Raw(book.Name)_2">@book.AuthorName</label></td>
                </tr>
            }

            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>

    </tr>
</table>

